.time {
    position: relative;
    text-align: center;
    padding: 30px;
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.cardColaborador{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.input-color {
    position: absolute;
    top: 20px;
    right: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-color: rgb(155, 155, 155);
    background-color: #FFF;
}